<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<script src="https://kit.fontawesome.com/882676d0bc.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<title>Post To Sold</title>
</head>

<body>
	
	{{{ body }}}
	<footer class="page-footer">
		<div class="container">
			<div class="row footer-row">
				<div class="col l6 s12">
					<a class="project-github" href="https://github.com/kimnana45/Project2" target="blank"><i
							class="fab fa-github"></i></a>
					<p class="text-lighten-4">© 2020 Copyright</p>
				</div>
				<div class="col l4 offset-l2 s12 no-btm-margin">
					<h5>Contributors</h5>
					<ul>
						<li>Kim Le<a target="blank" href="https://github.com/kimnana45"><i class="footer-social fab fa-github-square"></i></a><a target="blank" href="https://www.linkedin.com/in/kimle-lek/"><i class="footer-social fab fa-linkedin"></i></a></li>
						<li>Kyle Stokes<a target="blank" href="https://github.com/kylest0kes"><i class="footer-social fab fa-github-square"></i></a><a target="blank" href="https://www.linkedin.com/in/kylest0kes/"><i class="footer-social fab fa-linkedin"></i></a></li>
						<li>Sibel Cidem<a target="blank" href="https://github.com/seebell"><i class="footer-social fab fa-github-square"></i></a><a target="blank" href="https://www.linkedin.com/in/sibel-cidem-b7487a197/"><i class="footer-social fab fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>