<nav>
  <div class="nav-wrapper">
    <a href="/members" class="logo">Post To Sold</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i id="float-right"
        class="material-icons">Menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a class="nav-links" href="/allitems">View All Items</a></li>
      <li><a class="nav-links" href="/postitem">Post Item</a></li>
      <li><a class="nav-links" href="/members">User</a></li>
      <li><a class="nav-links" href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a class="nav-links" href="/allitems">View All Items</a></li>
  <li><a class="nav-links" href="/postitem">Post Item</a></li>
  <li><a class="nav-links" href="/members">User</a></li>
  <li><a class="nav-links" href="/logout">Logout</a></li>
</ul>

<div class="container">
  <div id="postItem" class="row">
    <div class="jumbotron">
      <h3>Post a Item</h3>
      <textarea id="itemName" placeholder="Item Name"></textarea>
      <hr class="my-4">
      <textarea id="itemDescription" placeholder="Item Description"></textarea>
      <hr class="my-4">
      <textarea id="itemPrice" placeholder="Item Price"></textarea>
      <hr class="my-4">
      <div class="input-field">
        <select id="category">
          <option value="" disabled selected>Choose a Category</option>
          <option value="Appliances">Appliances</option>
          <option value="Auto">Auto</option>
          <option value="Barter">Barter</option>
          <option value="Books">Books</option>
          <option value="Cellphone/Accessories">Cell Phone/Accessories</option>
          <option value="Clothes">Clothes</option>
          <option value="Computers/Parts">Computers/Parts</option>
          <option value="Electronics">Electronics</option>
          <option value="Furniture">Furniture</option>
          <option value="Home">Home</option>
          <option value="Jewelry">Jewelry</option>
          <option value="Lawn">Lawn</option>
          <option value="Misc.">Misc.</option>
          <option value="Musical">Musical</option>
          <option value="Sports">Sports</option>
          <option value="Tools">Tools</option>
          <option value="Videogame">Videogames</option>
        </select>
      </div>
      <hr class="my-4">
      <div class="upload-area">
        <h4 class="upload-text">Upload a Picture of your Item</h4>
        <button id="postPicture" class="btn pic-btn waves-effect waves-light" type="submit" name="action"><i
            class="fas fa-upload"></i></button>
        <hr class="my-4">
        <button id="submitItem" class="btn upload-btn waves-effect waves-light" type="submit" name="action"><i
            class="fas fa-dollar-sign"></i> Post Item
          <i class="fas fa-dollar-sign"></i>
        </button>
      </div>
    </div>
  </div>
</div>


<script src="https://api.filestackapi.com/filestack.js"></script>

<script>filepicker.setKey("AxBrl38KyScK64IlPDMp1z")</script>
<script type="text/javascript" src="/js/postitems.js"></script>

